In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('so_countries_col_new.csv', index_col=None)

In [4]:
import pandas as pd

# Drop the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in df.columns:
    df = df.drop(columns=['Unnamed: 0'])
    
print(df)

      Hobby         Country         Student  \
0       Yes  United Kingdom              No
1       Yes  United Kingdom              No
2       Yes   United States              No
3       Yes   United States              No
4        No     Netherlands  Yes, full-time
...     ...             ...             ...
38085   Yes         Belgium  Yes, full-time
38086   Yes  United Kingdom  Yes, full-time
38087   Yes           India  Yes, full-time
38088   Yes         Germany  Yes, full-time
38089   Yes           India  Yes, full-time

                                         FormalEducation  \
0               Bachelor’s degree (BA, BS, B.Eng., etc.)
1               Bachelor’s degree (BA, BS, B.Eng., etc.)
2      Some college/university study without earning ...
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
38085  Some college/university study without earning ...
38086           Bachelor’s degree (BA, BS, B.Eng., etc.)
38087           Bachelor’s degree (BA, BS, B.Eng., etc.)
38088  Secondary school (e.g. American high school, G...
38089           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                          UndergradMajor  \
0      A natural science (ex. biology, chemistry, phy...
1      Computer science, computer engineering, or sof...
2      Computer science, computer engineering, or sof...
3      Fine arts or performing arts (ex. graphic desi...
4      Computer science, computer engineering, or sof...
...                                                  ...
38085                           I never declared a major
38086  Computer science, computer engineering, or sof...
38087  Computer science, computer engineering, or sof...
38088  Computer science, computer engineering, or sof...
38089  Information systems, information technology, o...

                      DevType       YearsCoding  HoursComputer  \
0      Database administrator  30 or more years    5 - 8 hours
1          Back-end developer         6-8 years   9 - 12 hours
2          Back-end developer        9-11 years  Over 12 hours
3          Back-end developer  30 or more years   9 - 12 hours
4          Back-end developer         0-2 years   9 - 12 hours
...                       ...               ...            ...
38085                 Student         3-5 years    1 - 4 hours
38086                 Student         6-8 years   9 - 12 hours
38087      Back-end developer         3-5 years   9 - 12 hours
38088                 Student         3-5 years    5 - 8 hours
38089      Back-end developer         3-5 years   9 - 12 hours

                         Exercise Gender         SexualOrientation  \
0       Daily or almost every day   Male  Straight or heterosexual
1            1 - 2 times per week   Male  Straight or heterosexual
2      I don't typically exercise   Male  Straight or heterosexual
3      I don't typically exercise   Male  Straight or heterosexual
4       Daily or almost every day   Male  Straight or heterosexual
...                           ...    ...                       ...
38085  I don't typically exercise   Male  Straight or heterosexual
38086   Daily or almost every day   Male  Straight or heterosexual
38087  I don't typically exercise   Male  Straight or heterosexual
38088  I don't typically exercise   Male  Straight or heterosexual
38089  I don't typically exercise   Male                   Asexual

                                        EducationParents  \
0               Bachelor’s degree (BA, BS, B.Eng., etc.)
1      Secondary school (e.g. American high school, G...
2            Master’s degree (MA, MS, M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4                                       Associate degree
...                                                  ...
38085        Master’s degree (MA, MS, M.Eng., MBA, etc.)
38086        Master’s degree (MA, MS, M.Eng., MBA, etc.)
38087        Master’s degree (MA, MS, M.Eng., MBA, etc.)
38088        Master’s degree (MA, MS, M.Eng., MBA, etc.)
38089                          Primary/elementary school

                      RaceEthnicity Dependents      Continent  \
0      White or of European descent        Yes             EU
1      White or of European descent         No             EU
2      White or of European descent         No  North America
3      White or of European descent        Yes  North America
4      White or of European descent         No             EU
...                             ...        ...            ...
38085  White or of European descent         No             EU
38086  White or of European descent         No             EU
38087                Middle Eastern        Yes             AS
38088  White or of European descent         No             EU
38089  White or of European descent        Yes             AS

                     Age  ConvertedSalary     HDI     GDP    GINI
0      35 - 44 years old            70841    High  Medium  Medium
1      18 - 24 years old            41671    High  Medium  Medium
2      18 - 24 years old           120000    High    High    High
3      35 - 44 years old           250000    High    High    High
4      18 - 24 years old                0    High  Medium     Low
...                  ...              ...     ...     ...     ...
38085  18 - 24 years old                0    High  Medium     Low
38086  18 - 24 years old            97233    High  Medium  Medium
38087  18 - 24 years old             1944  Medium     Low    High
38088  18 - 24 years old            10284    High  Medium  Medium
38089  18 - 24 years old                0  Medium     Low    High

[38090 rows x 20 columns]

In [5]:
list(df)

['Hobby',
 'Country',
 'Student',
 'FormalEducation',
 'UndergradMajor',
 'DevType',
 'YearsCoding',
 'HoursComputer',
 'Exercise',
 'Gender',
 'SexualOrientation',
 'EducationParents',
 'RaceEthnicity',
 'Dependents',
 'Continent',
 'Age',
 'ConvertedSalary',
 'HDI',
 'GDP',
 'GINI']

In [7]:
grouped_df = df.groupby(['Country'])['ConvertedSalary'].mean().reset_index().sort_values(by=['ConvertedSalary'])
grouped_df = grouped_df.rename(columns={'ConvertedSalary': 'avgsalary'})
grouped_df['avgsalary'] = grouped_df['avgsalary'].round().astype(int)
display(grouped_df)

               Country  avgsalary
12  Russian Federation      26312
17             Ukraine      27103
7                India      27694
11              Poland      38473
16              Turkey      39617
3               Brazil      57797
2              Belgium      71685
1              Austria      72611
14              Sweden      73006
10         Netherlands      83820
13               Spain      84674
5               France      89411
6              Germany      91851
9                Italy      95692
8               Israel      99561
4               Canada     100894
0            Australia     126624
18      United Kingdom     128217
15         Switzerland     138112
19       United States     154413